<div class="row">
    <section class="medium-8 large-9 column siteContent siteContent--hasSidebar">
        <section class="row column">

            <article class="postPage">
                <!--    Back to category link -->
                <div class="postPage-backLink">
                    <a href="#" title="go back to category">View All Artist</a>
                </div>
                <!--    Post title  -->
                <h1 class="postPage-title">H1 Artist Name</h1>

                <!--    Post Info   -->
                <div class="postPage-info">GRAND RECIPIENT | [MEDIUM, MEDIUM] | [GENRE FIELD CONTENT GOES HERE AND HERE]</div>

                <!--    Post Image   -->
                <div class="postPage-image">
                    <img src="http://placehold.it/650x380" alt="" width="650" height="380">
                </div>

                <!--    Post Content    -->
                <div class="postPage-content postPage-content--bottomLine">

                    <h2>ABOUT [ARTIST NAME] H2</h2>
                    <p>Body font is set to 16px pragmatica-web. <a href="#">This is a link in text</a> All other relationships cascade from the base body font. P size is 1em/1.6em, Pragmatica Light, 300 weight. Body font is set to 16px pragmatica-web. All
                        other relationships cascade from the base body font. P size is 1em/1.6em, Pragmatica Light, 300 weight. Body font is set to 16px pragmatica-web. All other relationships cascade from the base body font. P size is 1em/1.6em, Pragmatica
                        Light, 300 weight. Body font is set to 16px pragmatica-web. All other relationships cascade from the base body font. P size is 1em/1.6em, Pragmatica Light, 300 weight. </p>

                </div>
                <!--    Post Content    -->
            </article>

        </section>
    </section>

    <aside class="medium-4 large-3 column siteSidebar">
        <div class="siteSidebar-inner">
            <!--    Sidebar widget  -->
            <div class="siteSidebar-galleryWidget">
                <h3>Artist Gallery H3</h3>
                <ul class="siteSidebar-gallery-element u-list--plain u-clearfix">
                    <li>
                        <a href="http://placehold.it/600x250" class="swipebox">
                            <img src="http://placehold.it/300x300" srcset="http://placehold.it/440x440 480w, http://placehold.it/300x300 768w" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="http://placehold.it/600x250" class="swipebox">
                            <img src="http://placehold.it/300x300" srcset="http://placehold.it/440x440 480w, http://placehold.it/300x300 768w" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="http://placehold.it/600x250" class="swipebox">
                            <img src="http://placehold.it/300x300" srcset="http://placehold.it/440x440 480w, http://placehold.it/300x300 768w" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="http://placehold.it/600x250" class="swipebox">
                            <img src="http://placehold.it/300x300" srcset="http://placehold.it/440x440 480w, http://placehold.it/300x300 768w" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="http://placehold.it/600x250" class="swipebox">
                            <img src="http://placehold.it/300x300" srcset="http://placehold.it/440x440 480w, http://placehold.it/300x300 768w" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="http://placehold.it/600x250" class="swipebox">
                            <img src="http://placehold.it/300x300" srcset="http://placehold.it/440x440 480w, http://placehold.it/300x300 768w" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="http://placehold.it/600x250" class="swipebox">
                            <img src="http://placehold.it/300x300" srcset="http://placehold.it/440x440 480w, http://placehold.it/300x300 768w" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="http://placehold.it/600x250" class="swipebox">
                            <img src="http://placehold.it/300x300" srcset="http://placehold.it/440x440 480w, http://placehold.it/300x300 768w" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="http://placehold.it/600x250" class="swipebox">
                            <img src="http://placehold.it/300x300" srcset="http://placehold.it/440x440 480w, http://placehold.it/300x300 768w" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="http://placehold.it/600x250" class="swipebox">
                            <img src="http://placehold.it/300x300" srcset="http://placehold.it/440x440 480w, http://placehold.it/300x300 768w" alt="">
                        </a>
                    </li>
                </ul>
                <a href="#" class="btn btn--fullWidth">Artist WebSite</a>
            </div>

        </div>
    </aside>

    <section class="medium-8 large-9 column end relatedContent relatedContent--hasSidebar">
        <!--    Upcoming Events  -->
        <section class="row column section-bottomLined">
            <h2>UPCOMING EVENTS H2</h2>

            <div class="postsList">
                <!--    postsList-item  -->
                <div class="postsList-item">
                    <div class="postsList-item-image">
                        <img src="http://placehold.it/880x880" alt="" srcset="http://placehold.it/880x880 460w, http://placehold.it/280x280 768w">
                        <span class="postsList-item-categoryDecor" style="background-color: #0177c1"></span>
                    </div>
                    <div class="postsList-item-body">
                        <h3>Opera Made NEW</h3>
                        <p>Body font is set to 16px pragmatica-web. All other relationships cascade from the base body font. P size is 1em/1.6em, Pragmatica Light, 300 weight...</p>
                        <p><i>BY AUTHOR NAME | <a href="#">CATEGORY</a></i></p>
                    </div>
                    <div>
                        <a href="#" class="btn btn--fullWidth">Read Article</a>
                    </div>
                </div>
                <!--   / postsList-item  -->

                <!--    postsList-item  -->
                <div class="postsList-item">
                    <div class="postsList-item-image">
                        <img src="http://placehold.it/880x880" alt="" srcset="http://placehold.it/880x880 460w, http://placehold.it/280x280 768w">
                        <span class="postsList-item-categoryDecor" style="background-color: #f7941d"></span>
                    </div>
                    <div class="postsList-item-body">
                        <h3>Opera Made NEW</h3>
                        <p>Body font is set to 16px pragmatica-web. Body font is set to 16px pragmatica-web...</p>
                        <div class="postsList-item-info">BY AUTHOR NAME | <a href="#">CATEGORY</a></div>
                    </div>
                    <div>
                        <a href="#" class="btn btn--fullWidth">Read Article</a>
                    </div>
                </div>
                <!--   / postsList-item  -->
            </div>

        </section>
        <section class="row column">
            <h2>POSTS BY FIRSTNAME LASTNAME H2</h2>

            <div class="postsList">
                <!--    postsList-item  -->
                <div class="postsList-item">
                    <div class="postsList-item-image">
                        <img src="http://placehold.it/880x880" alt="" srcset="http://placehold.it/880x880 460w, http://placehold.it/280x280 768w">
                        <span class="postsList-item-categoryDecor" style="background-color: #0177c1"></span>
                    </div>
                    <div class="postsList-item-body">
                        <h3>Opera Made NEW</h3>
                        <p>Body font is set to 16px pragmatica-web. All other relationships cascade from the base body font. P size is 1em/1.6em, Pragmatica Light, 300 weight...</p>
                        <p><i>BY AUTHOR NAME | <a href="#">CATEGORY</a></i></p>
                    </div>
                    <div>
                        <a href="#" class="btn btn--fullWidth">Read Article</a>
                    </div>
                </div>
                <!--   / postsList-item  -->

                <!--    postsList-item  -->
                <div class="postsList-item">
                    <div class="postsList-item-image">
                        <img src="http://placehold.it/880x880" alt="" srcset="http://placehold.it/880x880 460w, http://placehold.it/280x280 768w">
                        <span class="postsList-item-categoryDecor" style="background-color: #f7941d"></span>
                    </div>
                    <div class="postsList-item-body">
                        <h3>Opera Made NEW</h3>
                        <p>Body font is set to 16px pragmatica-web. Body font is set to 16px pragmatica-web...</p>
                        <div class="postsList-item-info">BY AUTHOR NAME | <a href="#">CATEGORY</a></div>
                    </div>
                    <div>
                        <a href="#" class="btn btn--fullWidth">Read Article</a>
                    </div>
                </div>
                <!--   / postsList-item  -->
            </div>

        </section>
    </section>
</div>