<header class="siteHeader siteHeader--headerSection">
    <div class="row siteHeader-inner">
        <section class="row column siteHeader-top">
            <div class="small-8 medium-3 column">
                <div class="siteHeader-logo">
                    <a href="#" title="Creative Pinellas">
                        <svg class='svgIcon svgIcon--logo'>
                            <use xlink:href='#logoFull'/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="small-4 medium-9 column u-text--right">
                <div class="show-for-medium siteHeader-social">
                    <ul class="socialList u-list--plain u-list--inline">
                        <li>
                            <a href="#" target="_blank" title="Follow us on Twitter">
                                <svg class='svgIcon'>
                <use xlink:href='#twitter'/>
            </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank" title="Follow us on Facebook">
                                <svg class='svgIcon'>
                <use xlink:href='#facebook'/>
            </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank" title="Follow us on Youtube">
                                <svg class='svgIcon'>
                <use xlink:href='#youtube'/>
            </svg>
                            </a>
                        </li>
                    </ul>

                </div>
                <nav class="show-for-medium siteHeader-topNav">
                    <ul class="siteNavigation u-list--plain u-list--inline">
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
                </nav>
                <nav class="show-for-large siteHeader-mainNav">
                    <ul class="siteNavigation siteNavigation--header u-list--plain u-list--inline u-text--left js-touchNav">
                        <li class="has-subNav js-hasSubNav">
                            <a href="#">About</a>
                            <ul class="u-list--plain">
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">Partnership</a></li>
                            </ul>
                        </li>
                        <li class="has-subNav js-hasSubNav">
                            <a href="#">For the arts community</a>
                            <ul class="u-list--plain">
                                <li><a href="#">Oure Grants</a></li>
                                <li><a href="#">Grant Recipients</a></li>
                                <li><a href="#">Learning Center</a></li>
                                <li><a href="#">Events for Artists</a></li>
                            </ul>
                        </li>
                        <li class="has-subNav js-hasSubNav">
                            <a href="#">Explore the arts</a>
                            <ul class="u-list--plain">
                                <li><a href="#">Events</a></li>
                                <li><a href="#">Venue Directory</a></li>
                                <li><a href="#">Local Artists Directory</a></li>
                            </ul>
                        </li>
                        <li class="has-subNav js-hasSubNav">
                            <a href="#">Our journal</a>
                            <ul class="u-list--plain">
                                <li><a href="#">Learning Center</a></li>
                                <li><a href="#">Visual Arts</a></li>
                                <li><a href="#">Music</a></li>
                                <li><a href="#">Performing Arts</a></li>
                                <li><a href="#">Literature</a></li>
                                <li><a href="#">News</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <a href="#" class="siteHeader-searchToggle searchToggle js-toggle" data-toggle="widget_search"><i class="fa fa-search" aria-hidden="true"></i></a>
                <a href="#" class="hide-for-large mobileNavToggle js-mobileNavToggle" data-toggle="offCanvas" data-open="CLOSE" data-close="MENU">
                    <span class="mobileNavToggle-hamburger"><span></span></span>
                </a>
            </div>
        </section>
        <section class="row column medium-collapse siteHeader-widgets">
            <div class="medium-6 medium-offset-6 column">
                <div id="search-2" class="widget widget_search">
                    <form role="search" method="get" id="searchform" action="http://creativepinellas.loc/">
                        <div class="row medium-collapse">
                            <div class="small-8 column">
                                <label for="s" class="screen-reader-text">Search for:</label>
                                <input type="search" id="s" name="s" value="" placeholder="e.g gallery opening">
                            </div>
                            <div class="small-4 column">
                                <input type="submit" value="Search" id="searchsubmit" class="btn btn--fullWidth btn--white">
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </section>
        <section class="row column headerSection">
            <div class="medium-6 large-7 column">
                <div class="headerSection-poster">
                    <img src="http://placehold.it/960x650" srcset="http://placehold.it/960x650 480w, http://placehold.it/1600x1080 768w, http://placehold.it/1060x715 1200w" alt="">
                </div>
            </div>
            <div class="medium-6 large-5 column">
                <div class="headerSection-text">
                    <h1>A Little Fun with Miniature Curiousa</h1>
                    <p class="">The Inventively Low-Fi, Mixed-media Mavens Perform with Bands Laghima and Bubble Boys at Venture Compound</p>
                    <a href="#" class="btn btn--white">SEE EVENT</a>
                </div>
            </div>
        </section>

    </div>
</header>