<div class="row">
    <section class="column siteContent">
        <section class="row column">

            <article class="postPage">
                <!--    Post title  -->
                <h1 class="postPage-title">Search Results</h1>

                <!--    Post Info   -->
                <div class="postPage-info">YOU SEARCHED FOR: [term goes here]</div>

                <!--    Post Content    -->
                <div class="postPage-content">

                    <div class="searchList">

                        <div class="searchList-item">
                            <h3 class="searchList-item-title">
        <a href="#">Opera made New Uppercase H3</a>
    </h3>
                            <p>Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut arum Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut
                                arum Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut arum (...)</p>
                        </div>

                        <div class="searchList-item">
                            <h3 class="searchList-item-title">
        <a href="#">Opera made New Uppercase H3</a>
    </h3>
                            <p>Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut arum Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut
                                arum Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut arum (...)</p>
                        </div>

                        <div class="searchList-item">
                            <h3 class="searchList-item-title">
        <a href="#">Opera made New Uppercase H3</a>
    </h3>
                            <p>Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut arum Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut
                                arum Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut arum (...)</p>
                        </div>

                        <div class="searchList-item">
                            <h3 class="searchList-item-title">
        <a href="#">Opera made New Uppercase H3</a>
    </h3>
                            <p>Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut arum Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut
                                arum Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut arum (...)</p>
                        </div>

                        <div class="searchList-item">
                            <h3 class="searchList-item-title">
        <a href="#">Opera made New Uppercase H3</a>
    </h3>
                            <p>Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut arum Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut
                                arum Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut arum (...)</p>
                        </div>

                        <div class="searchList-item">
                            <h3 class="searchList-item-title">
        <a href="#">Opera made New Uppercase H3</a>
    </h3>
                            <p>Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut arum Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut
                                arum Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut arum (...)</p>
                        </div>

                        <div class="searchList-item">
                            <h3 class="searchList-item-title">
        <a href="#">Opera made New Uppercase H3</a>
    </h3>
                            <p>Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut arum Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut
                                arum Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut arum (...)</p>
                        </div>

                        <div class="searchList-item">
                            <h3 class="searchList-item-title">
        <a href="#">Opera made New Uppercase H3</a>
    </h3>
                            <p>Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut arum Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut
                                arum Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut arum (...)</p>
                        </div>

                        <div class="searchList-item">
                            <h3 class="searchList-item-title">
        <a href="#">Opera made New Uppercase H3</a>
    </h3>
                            <p>Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut arum Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut
                                arum Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut arum (...)</p>
                        </div>

                        <div class="searchList-item">
                            <h3 class="searchList-item-title">
        <a href="#">Opera made New Uppercase H3</a>
    </h3>
                            <p>Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut arum Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut
                                arum Aximusap itatisit eum, sin re aut magnihi llaborias ut et officius es dolorum ra videsti doloriatque simi, ut arum (...)</p>
                        </div>


                    </div>
                    <!-- / searchList-->

                    <!--    pagination form WP theme Twenty Sixteen  -->
                    <nav class="navigation pagination" role="navigation">
                        <h2 class="screen-reader-text">Posts navigation</h2>
                        <div class="nav-links">
                            <a class="prev page-numbers" href="#">
            Previous page
        </a>
                            <a class="page-numbers" href="#">
                                <span class="meta-nav screen-reader-text">Page </span> 1
                            </a>
                            <span class="page-numbers dots">...</span>
                            <a class="page-numbers" href="#">
                                <span class="meta-nav screen-reader-text">Page </span> 3
                            </a>
                            <span class="page-numbers current">
            <span class="meta-nav screen-reader-text">Page </span> 4
                            </span>
                            <a class="page-numbers" href="#">
                                <span class="meta-nav screen-reader-text">Page </span> 5
                            </a>
                            <a class="next page-numbers" href="#">
            Next page
        </a>
                        </div>
                    </nav>


                </div>
                <!--    Post Content    -->
            </article>

        </section>

    </section>
</div>