/* variables for this module */
$breadcrumbsFontFamily: $ProximaNova;
$breadcrumbsFontSize: 1rem;
$breadcrumbsColor: $westar;
$breadcrumbsBackgroundColor: $white;
/*===========================*/
.anchor-menu {
    @media #{$mobile-down} {
        display: none;
    }
    position: relative;
    padding: 5px 0;
    font-family: $Avenir-roman;
    font-size: $breadcrumbsFontSize;
    color: $breadcrumbsColor;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: $breadcrumbsBackgroundColor;
    li {
        padding-left: 26px;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            a {
                margin-right: 0;
            }
        }
    }
    a {
        display: inline-block;
        margin-right: 26px;
        color: $breadcrumbsColor;
        &:hover {
            color: $black--lighter;
        }
    }
}
