.clientPopup {
  position: relative;
  width: 100%;
  max-width: 865px;
  background: $white;
  margin: 83px auto;
  img {
    display: block;
    width: 100%;
  }
  .mfp-close {
    font-size: 40px;
    top: 8px;
    right: 8px;
  }

  &-body {
    padding: 23px 15px;
    text-align: left;
    @media #{$tablet-up} {
      padding: 35px;
      min-height: 357px;
    }
    &-title {
      margin-bottom: 20px;
    }
    &-inner {
      display: flex;
      flex-direction: column;
      @media #{$tablet-up} {
        margin: 0 -21px;
        flex-direction: row;
      }
      &-column {
        padding-bottom: 30px;
        @media #{$tablet-up} {
          padding: 0 21px;
        }
      }
    }
  }
}

.clientSlider {
  min-height: 497px;
  .slick-dots {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 20px;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > li {
      margin: 10px 0;
      &.slick-active {
        > button {
          background: $dotsColor--active;
        }
      }
      > button {
        text-indent: -9999px;
        background: $white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        padding: 0;
        border: 0;
        background: $dotsColor;
        outline: 0;
      }
    }
  }

}
