.clientPopup {
  position: relative;
  width: 100%;
  max-width: 865px;
  background: $white;
  margin: 83px auto;
  img {
    display: block;
    width: 100%;
  }
  .mfp-close {
    font-size: 40px;
    top: 8px;
    right: 8px;
  }
  &-title {
    margin-bottom: 20px;
    font-family: $Avenir-heavy;
    font-size: 22px;
    line-height: 26px;
  }
  &-body {
    min-height: 145px;
    padding: 10px 15px;
    text-align: left;
    @media #{$tablet-up} {
      padding: 10px 50px;
      //min-height: 357px;
    }
    &-inner {
      display: flex;
      flex-direction: column;
      font-family: $SourceSansPro-regular;
      font-size: 13px;
      @media #{$tablet-up} {
        margin: 0 -21px;
        flex-direction: row;
      }
      &-column {
        padding-bottom: 30px;
        @media #{$tablet-up} {
          padding: 0 21px;
        }
      }
    }
    ul {
      padding: 0;
      margin: 0;
      @media #{$tablet-up} {
        //margin: 0 -10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;
        height: 80px;
      }
      li {
        list-style: none;
        text-align: left;
        font-size: 13px;
        line-height: 20px;
        @media #{$tablet-up} {
          //float: left;
          //padding: 0 10px;
          //width: 33.333%;
        }
      }
    }
  }
}

.clientSlider {
  .slick-dots {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 100%;
    text-align: center;
    @media #{$tablet-up} {
      top: 0;
      right: 20px;
      bottom: auto;
      width: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    > li {
      display: inline-block;
      height: 10px;
      margin: 0 8px;
      @media #{$tablet-up} {
        display: block;
        margin: 8px 0;
      }
      &.slick-active {
        > button {
          background: $dotsColor--active;
        }
      }
      > button {
        text-indent: -9999px;
        background: $white;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        padding: 0;
        border: 0;
        background: rgba($dotsColor--active, .3);
        outline: 0;
      }
    }
  }

}
