.forestImage {
  position: relative;
  width: 100%;
  @media #{$tablet-up} {
    width: 66.6666%;
  }
  @media #{$desktop-up} {
    width: 25%;
  }
  &:before {
    @media #{$tablet-up} {
      content: "";
      display: block;
      padding-bottom: 50%;
    }
    @media #{$desktop-up} {
      padding-bottom: 200%;
    }
  }
  &-inner {
    display: flex;
    flex-direction: column;
    @media #{$tablet-up} {
      flex-direction: row;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    @media #{$desktop-up} {
      flex-direction: column;
    }
  }

  &-image {
    flex: 0 0 100%;
    @media #{$tablet-up} {
      flex: 0 0 50%;
    }
    @media #{$desktop-up} {
      height: 50%;
    }
    img {
      display: block;
      width: 100%;
    }
  }

  &-body {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding: 30px 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .909rem;
    line-height: 1.35rem;
    flex: 0 0 100%;
    min-height: 200px;
    @media #{$tablet-up} {
      flex: 0 0 50%;
      min-height: inherit;
      padding: 0 34px;
    }
    @media #{$desktop-up} {
      height: 50%;
    }
    &-title {
      font-family: $Avenir-medium;
      font-size: .909rem;
      line-height: 1.35rem;
      text-transform: uppercase;
    }
    &-social {
      padding-top: 10px;
      a {
        color: $blue;
        transition: all .3s;
        &:hover {
          color: $blue--dark;
        }
        i {
          padding-right: 10px;
        }
      }
    }
  }
}
