.imageLargeModuleA {
  position: relative;
  &-quote {
    padding: 33px 15px;
    color: $white;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: $SourceSansPro-semibold;
    @media #{$tablet-up} {
      position: absolute;
      width: 33.33%;
      padding: 31px 16px;
    }
    @media #{$desktop-up} {
      padding: 47px 25px;
    }

    &.position-top_right {
      @media #{$tablet-up} {
        right: 8.33%;
        top: 0;
        transform: translateY(-50%);
      }
    }

    &.position-middle_left {
      color: $white;
      @media #{$tablet-up} {
        background: rgba( $white, .95) !important;
        color: $gray-ship;
        width: 30%;
        left: 8.33%;
        top: 50%;
        transform: translateY(-50%);
      }
      @media #{$desktop-up} {
        width: 30%;
        transform: translateY(-70%);
      }
      .imageLargeModuleA-quote-title {
        @media #{$mobile-down} {
          color: $white !important;
        }
      }
    }

    &.position-bottom_right {
      @media #{$tablet-up} {
        right: 8.33%;
        bottom: 0;
        transform: translateY(50%);
      }
    }

    &-title {
      font-family: $ProximaNova;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1.8rem;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
  }
  img {
    display: block;
    width: 100%;
  }
}

