.imageSmallModuleA {
  padding: 15px 0 20px;
  @media #{$tablet-up} {
    padding: 20px 0 25px;
    display: flex;
    align-items: flex-start;
  }
  &-image {
    @media #{$tablet-up} {
      padding-right: 15px;
      flex: 1 0 40%;
    }
    @media #{$desktop-up} {
      //flex: 1;
    }
    img {
      width: 100%;
      display: block;
    }
  }
  &-body {
    padding: 27px 15px 0;
    @media #{$tablet-up} {
      flex: 1 0 60%;
      padding: 0 0 0 15px;
    }
    @media #{$desktop-up} {
      //flex: 1;
    }
    a {
      font-family: $SourceSansPro-semibold;
      display: block;
      text-align: center;
      padding: 10px 0;
      @media #{$tablet-up} {
        display: inline-block;
      }
    }
    &-title {
      margin-top: -5px;
    }
  }

  &-box {
    padding-top: 20px;
    @media #{$tablet-up} {
      padding-right: 15px;
      flex: 1 0 50%;
    }
    @media #{$desktop-up} {
      flex: 1;
    }
    &-inner {
      display: flex;
      align-items: center;
    }
    &-img {
      flex: 0 0 150px;
      img {
        width: 100%;
        max-width: 150px;
        display: block;
      }
    }
    &-text {
      padding-left: 10px;
      flex: 1 0;
      font-family: $ProximaNova;
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 1.7rem;
      @media #{$tablet-up} {
        font-size: 1.7rem;
        line-height: 2rem;
      }
      span {
        display: block;
        padding: 3px 0;
      }
    }
  }

  &--reverse {
    display: flex;
    flex-direction: column-reverse;
    @media #{$tablet-up} {
      flex-direction: row-reverse;
    }
    .imageSmallModuleA-image {
      @media #{$tablet-up} {
        padding-right: 0;
        padding-left: 15px;
        flex: 1 0 50%;
      }
      @media #{$desktop-up} {
        flex: 1;
      }
    }
    .imageSmallModuleA-body {
      @media #{$tablet-up} {
        flex: 1 0 50%;
        padding: 0 15px 0 0;
      }
      @media #{$desktop-up} {
        flex: 1;
      }
    }
    .imageSmallModuleA-box {
      @media #{$tablet-up} {
        padding-right: 0;
        padding-left: 15px;
        flex: 1 0 50%;
      }
      @media #{$desktop-up} {
        flex: 1;
      }
    }
  }

  &--images {
    padding: 15px 0;
    @media #{$tablet-up} {
      padding: 20px 0;
    }
    .imageSmallModuleA-image {
      @media #{$tablet-up} {
        padding-right: 15px;
      }
      + .imageSmallModuleA-image {
        padding-top: 30px;
        @media #{$tablet-up} {
          padding-left: 15px;
          padding-right: 0;
          padding-top: 0;
        }
      }
    }
  }
}
