/* variables for this module */
$dotsColor: rgba($swirl, .4);
$dotsColor--hover: rgba($swirl, .8);
$dotsColor--active: $scorpion;

/*===========================*/


.imageSmallModuleB {
  display: flex;
  flex-direction: column-reverse;
  padding: 15px 0;
  @media #{$tablet-up} {
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 0;
  }
  &-slider {
    @media #{$tablet-up} {
      padding-right: 15px;
      //flex: 1 0 50%;
      width: 40%;
    }
    img {
      display: block;
      width: 100%;
    }
  }
  &-body {
    padding: 0 15px 33px;
    @media #{$tablet-up} {
      padding: 0 0 0 15px;
      //flex: 1 0 50%;
      width: 60%;
    }
    &-description {
      p {
        margin: 0 0 14px;
      }
      ul {
        padding: 0;
        margin: 0 0 1.5rem;
        list-style: none;
        li {
          position: relative;
          padding-left: 38px;
          &::before {
            position: absolute;
            top: 50%;
            margin-top: -2px;
            left: 28px;
            width: 4px;
            height: 4px;
            content: "";
            border-radius: 100%;
            background: $green--lighter;
          }
        }
      }
    }
  }
}

.moduleSlider {
  position: relative;
  max-width: 373px;
  margin: 0 auto;
  .slick-slide {
    outline: 0;
  }
  .slick-dots {
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    @media #{$tablet-up} {
      bottom: 28px;
    }
    > li {
      padding: 0 11px;
      &.slick-active {
        > button {
          background: $dotsColor--active;
          &:hover {
            background: $dotsColor--active;
          }
        }
      }
      > button {
        text-indent: -9999px;
        background: transparent;
        padding: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $dotsColor;
        border: 0;
        outline: 0;
        &:hover {
          background: $dotsColor--hover;
        }
      }
    }
  }
}
