.newsBox {
  position: relative;
  display: block;
  background: $orange--light;
  color: $white;
  //font-size: 1.125rem;
  //line-height: 1.35rem;
  font-size: 5.5vw;
  line-height: 1.2;
  transition: all .3s;
  width: 100%;
  @media #{$tablet-up} {
    width: 33.3333%;
    font-size: 1.5vw;
    line-height: 1.9vw;
    //font-size: .909rem;
    //line-height: 1.35rem;
  }
  @media #{$desktop-up} {
    width: 25%;
  }
  &:hover {
    color: $white;
    //background: $blue;
  }
  &:before {
    content: '';
    display: block;
    padding-bottom: 62.5%;
    @media #{$tablet-up} {
      padding-bottom: 90%;
    }
  }
  &-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //min-height: 200px;
    @media #{$tablet-up} {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0 13.8%;
      min-height: inherit;
    }
  }
  &-title {
    display: block;
    margin-bottom: 14px;
    font-family: $ProximaNova;
    text-transform: uppercase;
    font-size: 1.083vw;
    color: $black;
  }
  &-date {
    display: block;
    margin-bottom: 10px;
    font-family: $Avenir-heavy;
    font-weight: bold;
    color: $black;
  }

  &-description {
    font-family: $SourceSansPro-regular;
  }
}

.grid-sizer {
  width: 33.3333%;
  @media #{$desktop-up} {
    width: 25%;
  }
}
