.newsBox {
  position: relative;
  display: block;
  background: $orange--light;
  color: $white;
  font-size: 1.125rem;
  line-height: 1.35rem;
  transition: all .3s;
  width: 100%;
  @media #{$tablet-up} {
    width: 33.3333%;
    font-size: .909rem;
  }
  @media #{$desktop-up} {
    width: 25%;
  }
  &:hover {
    color: $white;
    //background: $blue;
  }
  &:before {
    @media #{$tablet-up} {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }
  &-inner {
    padding: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    @media #{$tablet-up} {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0 13.8%;
      min-height: inherit;
    }
  }

  &-date {
    display: block;
    margin-bottom: 10px;
    font-family: $Avenir-medium;
    color: $black;
  }

  &-description {
    font-family: $SourceSansPro-regular;
  }
}

.grid-sizer {
  width: 33.3333%;
  @media #{$desktop-up} {
    width: 25%;
  }
}
