/* variables for this module */
$subTitleColor: $blue--light;
$descriptionTitleFontFamily: $Avenir-heavy;
$descriptionSubTitleFontFamily: $Avenir-book;

/*===========================*/

.projectDescription {
  padding: 15px;
  @media #{$tablet-up} {
    padding: 20px 0 25px;
  }
  &-header {
    @media #{$tablet-up} {
      width: 80%;
    }
    &-title {
      font-family: $descriptionTitleFontFamily;
      margin-bottom: 16px;
      font-weight: normal;
    }
    &-subtitle {
      font-family: $descriptionSubTitleFontFamily;
      color: $subTitleColor;
      margin-bottom: 30px;
    }
  }
  &-description {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: $SourceSansPro-regular;
    @media #{$tablet-up} {
      width: 60%;
      padding-right: 30px;
    }
  }
}
