.projectsSliderWrap {
  position: relative;
  width: 66.6666%;
  @media #{$desktop-up} {
    width: 50%;
  }
  &:before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  &-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.projectsSlider {
  height: 100%;
  .slick-list,
  .slick-track {
    height: 100%;
  }
  .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    > li {
      margin: 0 10px;
      &.slick-active {
        button {
          background: $white;
        }
      }
      > button {
        text-indent: -9999px;
        border: 0;
        border-radius: 50%;
        outline: 0;
        padding: 0;
        width: 15px;
        height: 15px;
        display: block;
        background: rgba($white, .5);
      }
    }
  }
  .slick-slide {
    outline: 0;
  }
}

.project {
  position: relative;
  &-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    img {
      width: 100%;
    }
  }
  &-body {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    min-height: 50%;
    padding: 34px;
    font-size: .909rem;
    line-height: 1.35rem;
    &-title {
      font-size: .909rem;
      line-height: 1.35rem;
    }
  }
}