.successModule {
  padding: 15px 0 30px;
  @media #{$tablet-up} {
    padding: 20px 0 40px;
  }
  &-body {
    @media #{$tablet-up} {
      width: 60%;
      padding-right: 30px;
    }
  }
  a {
    font-family: $SourceSansPro-semibold;
  }
}