.twoStoryImage {
  position: relative;
  width: 100%;
  @media #{$tablet-up} {
    width: 33.3333%;
  }
  @media #{$desktop-up} {
    width: 25%;
  }
  &:before {
    content: "";
    display: block;
    padding-bottom: 100%;
    @media #{$tablet-up} {
      padding-bottom: 200%;
    }
  }
  &-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    img {
      width: 100%;
    }
  }

  &-body {
    position: relative;
    z-index: 1;
    min-height: 200px;
    background: rgba($white, .8);
    padding: 0 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.01rem;
    line-height: 1.35rem;
    color: $nevada;
    @media #{$tablet-up} {
      min-height: auto;
      height: 50%;
    }
    &-title {
      font-family: $Avenir-medium;
      font-size: 1.56rem;
      line-height: 1.35rem;
      color: $orange--light;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}
