.homepageSliderArea {
  @media #{$tablet-up} {
    margin-bottom: 0;
  }
}

.homepageGridArea{
  position: relative;
  z-index: 9;
  background: $white;
  @media #{$tablet-up} {
    margin: 0 (-$whiteSpace--large);
    padding: $whiteSpace--large $whiteSpace--large 0;
  }
}
