/* variables for this module */
$landingTitleColor: $white;
$landingTitleFontFamily: $Avenir-black;
$landingTitleFontWeight: 500;
$landingTitleFontSize: 1.5rem;
$landingTitleLineHeight: 1;
/*===========================*/

.landing {
    padding-bottom: 14px;
    &-block {
        display: block;
        position: relative;
        height: 370px;
        overflow: hidden;
        @media #{$tablet-up} {
            margin: 0 0 7px;
            height: 300px;
        }
        @media #{$desktop-up} {
            height: 450px;
        }
        &:hover {
            .landing-image {
                img {
                    filter: none;
                }
            }
        }
    }
    &-image {
        width: 100%;
        height: 100%;
        .grayscale {
            position: absolute;
            top: 0;
            left: 50%;
            min-height: 100%;
            min-width: 100%;
            max-width: none;
            transform: translateX(-50%);
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
            filter: gray;
            filter: grayscale(100%);
            transition: all ease-out 0.4s;
            &-fix {
                width: 100%;
                height: 100%;
                > svg {
                    * {
                        min-width: 100%;
                        min-height: 100%;
                    }
                }
            }
        }
    }
    &-title {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        bottom: 0;
        width: 100%;
        padding: 25px 0;
        //text-align: center;
        @media #{$tablet-up} {
            top: 0;
            width: 300px;
            height: auto;
            padding: 0;
        }
        @media #{$desktop-up} {
            width: 450px;
        }
        &.left {
            left: 0;
        }
        &.right {
            right: 0;
        }
        > strong {
            font: normal normal #{$landingTitleFontSize}/#{$landingTitleLineHeight} #{$landingTitleFontFamily};
            color: $landingTitleColor;
            text-transform: uppercase;
            max-width: 90%;
            letter-spacing: .15vw;
            margin-bottom: 25px;
            @media #{$tablet-up} {
                width: 80%;
            }
            @media #{$desktop-up} {
                width: 60%;
            }
            @media #{$mobile-down} {
                text-align: center;
            }
        }
        .project-description {
            font-family: $SourceSansPro-regular;
            font-size: 1rem;
            line-height: 1.5rem;
            color: $white;
            max-width: 90%;
            @media #{$tablet-up} {
                width: 80%;
            }
            @media #{$desktop-up} {
                width: 60%;
            }
        }
    }
}
