/* variables for this module */
$loginPageBackgroundColor: $gray--dark;
$loginPageFontFamily: $ProximaNova;
$loginPageFontWeight: 600;
$loginPageFontSize: 0.95rem;
$loginPageSmallFontSize: 0.8125rem;
$loginPageInputColor: $gray--light;
$loginPageSubmitColor: $white;
$loginPageSubmitBackground: $blue--light;

.page-template-page-login {
    min-height: 100%;
    height: 100%;
    .siteHeader {
        display: none;
    }
    .wrapper {
        padding: 0;
        background: $loginPageBackgroundColor;
        position: relative;
        min-height: 100%;
        height: 1px;
    }
}
.login-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    opacity: 0.15;
}
.login-page {
    position: relative;
    z-index: 1;
    min-height: 100%;
    height: 1px;
    width: 100%;
    display: flex;
    align-items: center;
    .login-page-holder {
        margin: auto;
        width: 291px;
    }
    .login-username,
    .login-password {
        label {
            display: none;
        }
        input {
            background: none;
            border: none;
            border-bottom: 1px solid $loginPageInputColor;
            color: $loginPageInputColor;
            font-size: $loginPageFontSize;
            font-weight: $loginPageFontWeight;
            font-family: $loginPageFontFamily;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 6px;
            &::-webkit-input-placeholder {
                color: $loginPageInputColor;
            }
            &::-moz-placeholder {
                color: $loginPageInputColor;
            }
            &:-moz-placeholder {
                color: $loginPageInputColor;
            }
            &:-ms-input-placeholder {
                color: $loginPageInputColor;
            }
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                transition: background-color 5000s ease-in-out 0s;
                -webkit-text-fill-color: $loginPageInputColor !important;
            }
        }
    }
    .login-username {
        margin: 0 0 53px;
    }
    .login-password {
        margin: 0 0 70px;
    }
    .login-remember {
        float: left;
        padding: 2px 0 0;
        label {
            color: $loginPageInputColor;
            font-size: $loginPageSmallFontSize;
            font-weight: $loginPageFontWeight;
            font-family: $loginPageFontFamily;
        }
        input {
            position: relative;
            top: 3px;
            width: 16px;
            height: 16px;
        }
    }
    .login-submit {
        float: right;
        input {
            background: $loginPageSubmitBackground;
            color: $loginPageSubmitColor;
            width: 106px;
            border: none;
            height: 30px;
            display: block;
            text-transform: uppercase;
            border-radius: 4px;
            line-height: 15px;
        }
    }
}
.login-branding {
    padding: 0 10px 36px;
}