/* variables for this module */
$profileSliderMobileHeight: 365px;
$profileSliderDesktopHeight: 509px;
$profileTitleFontFamily: $ProximaNova;
$profileTitleFontWeight: 600;
$profileMobileTitleFontSize: 1.5rem;
$profileDesktopTitleFontSize: 2.5rem;
$profileTitleLineHeight: 1.2;
$profileBlockColor: $orange--light;
$profileAmpersandFontFamily: $BodoniURW-Light;
$profileAmpersandFontSize: 59.375rem;
$profileAmpersandLineHeight: 1;
$profileAmpersandColor: rgba(225, 226, 227, .40);
$profileBackgroundColor: $white;
/* approach block */
$profileApproachColor: $white;
$profileApproachTitleFontFamily: $ProximaNova;
$profileApproachTitleColor: $bombay--most;
$profileApproachTitleFontWeight: 600;
$profileApproachSubTitleColor: $blue--light;
$profileApproachSubTitleFontWeight: 800;
$profileApproachItemTitleColor: $blue--light;
$profileApproachItemFontWeight: 800;
/* team block */
$profileTeamTitleFontSize: 1.3125rem;
$profileTeamTitleLineHeight: 1.57rem;
$profileTeamTitleFontWeight: 600;
$profileTeamTitleColor: $westar;
$profileTeamTitleBackgroundColor: $orange--light;
$profileTeamBackgroundColor: rgba(75, 72, 73, .40);
$profileTeamColor: $white;
$profileTeamMemberNameFontFamily: $FuturaPT-Bold;
$profileTeamMemberNameFontSize: 0.8125rem;
$profileTeamMemberNameLineHeight: 1rem;
$profileTeamMemberTitleFontFamily: $SourceSansPro-regular;
$profileTeamMemberTitleFontSize: 0.8125rem;
$profileTeamMemberTitleLineHeight: .04rem;
$profileTeamMemberTextColor: $gray-ship;
$profileTeamCloseButtonColor: $white;
$profileTeamCloseButtonDarkColor: $black;
/* career block */
$profileCareerMobileTitleFontSize: 1.5rem;
$profileCareerTitleLineHeight: 1.2;
$profileCareerTitleFontSize: 2.5rem;
$profileCareerTitleFontWeight: 600;
$profileCareerTitleColor: $white;
$profileCareerTitleSecondColor: $blue--light;
$profileCareerTitleFontFamily: $ProximaNova;
$profileCareerInputBackground: $white;
$profileCareerSubmitBackground: $blue--light;
$profileCareerSubmitColor: $white;
$profileCareerInputFontFamily: $SourceSansPro-regular;
$profileCareerInputFontSize: 16px;
$profileCareerInputLineHeight: 19px;
$profileCareerOverlayColor: rgba(27,27,27,0.8);
$profileCareerMessageBackground: $orange--light;
$profileCareerMessageColor: $white;
$profileCareerMessageFontFamily: $SourceSansPro-regular;
$profileCareerMessageFontSize: 1.125rem;
$profileCareerMessageTitleFontFamily: $SourceSansPro-semibold;
$profileCareerMessageTitleFontSize: 1.7125rem;

/*===========================*/

.page-template-page-profile {
    overflow-x: hidden;
    @media #{$tablet-up} {
        overflow-x: visible;
    }
}

.profile {
    position: relative;
    padding: 31px 15px 12px;
    background: $profileBackgroundColor;
    @media #{$mobilesmall-only} {
        overflow: hidden;
    }
    @media #{$mobile-up} {
        padding-top: 50px;
        padding-bottom: 29px;
    }
    @media #{$tablet-up} {
        padding-left: 0;
        padding-right: 0;
    }
    &-slider-holder {
        //TODO approve or remove parallax styles
        /*overflow: hidden; // parallax styles
        height: $profileSliderMobileHeight;
        @media #{$mobile-up} {
            height: $profileSliderDesktopHeight;
        }*/
    }
    &-slider {
        display: none;
        &.slick-initialized {
            display: block;
            //TODO approve or remove parallax styles
            /*position: fixed;
            top: 54px;
            left: 0;
            width: 100%;
            @media #{$mobile-up} {
                top: 54px;
            }
            @media #{$tablet-up} {
                top: 21px;
            }*/
        }
        .slick-slide {
            height: $profileSliderMobileHeight;
            @media #{$mobile-up} {
                height: $profileSliderDesktopHeight;
            }
        }
        img {
            position: absolute;
            top: 0;
            left: 50%;
            min-height: 100%;
            min-width: 100%;
            max-width: none;
            width: auto;
            transform: translateX(-50%);
        }
    }
    h1 {
        font: normal #{$landingTitleFontWeight} #{$landingTitleFontSize}/#{$landingTitleLineHeight} #{$landingTitleFontFamily};
        text-transform: uppercase;
        margin: 0 0 19px;
        @media #{$mobile-up} {
            font-size: $profileDesktopTitleFontSize;
            margin: 0 0 15px;
        }
    }
    p{
        margin: 0 0 21px;
    }
    &-main {
        position: relative;
        z-index: 1;
        @media #{$mobile-up} {
            display: flex;
        }
        &:after {
            position: absolute;
            top: -263px;
            right:-226px;
            font: #{$profileAmpersandFontSize}/#{$profileAmpersandLineHeight} #{$profileAmpersandFontFamily};
            color: $profileAmpersandColor;
            content: '&';
            z-index: -1;
            @media #{$mobile-up} {
                top: -527px;
                right: -26px;
            }
        }
    }
    &-content {
        @media #{$mobile-up} {
            width: 70%;
            padding: 0 15px 0 0;
        }
    }
    &-sidebar {
        @media #{$mobile-up} {
            width: 30%;
            padding: 0 0 0 15px;
        }
        color: $profileBlockColor;
    }
}

.approach-block {
    position: relative;
    color: $profileApproachColor;
    padding: 23px 15px 11px;
    overflow: hidden;
    @media #{$mobilesmall-up} {
        padding-top: 64px;
    }
    h2 {
        font-family: $profileApproachTitleFontFamily;
        font-weight: $profileApproachTitleFontWeight;
        color: $profileApproachTitleColor;
        margin: 0 0 7px;
        @media #{$mobilesmall-up} {
            font-size: 2.5rem;
            margin-bottom: 21px;
        }
    }
    h3 {
        font-weight: $profileApproachSubTitleFontWeight;
        color: $profileApproachSubTitleColor;
        margin: 0 0 18px;
        @media #{$mobilesmall-up} {
            margin-bottom: 0;
        }
    }
    &-text {
        max-width: 70%;
        margin-bottom: 55px;
    }
    .graph {
        margin: -20px 0 39px;
        display: none;
        @media #{$mobile-up} {
            display: block;
        }
    }
    > img{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        min-width: 100%;
        min-height: 100%;
    }
}

.approach-items {
    position: relative;
    color: $profileApproachColor;
    padding: 23px 15px 35px;
    overflow: hidden;
    @media #{$mobile-up} {
        padding-top: 61px;
        padding-bottom: 65px;
    }
    &-inner {
        @media #{$tablet-up} {
            display: flex;
            margin: 0 -25px;
        }
    }
    .col1 {
        @media #{$tablet-up} {
            width: 30%;
            padding: 0 25px;
        }
    }
    .col2 {
        @media #{$tablet-up} {
            width: 40%;
            padding: 0 25px;
        }
    }
    .col3 {
        @media #{$tablet-up} {
            width: 30%;
            padding: 0 25px;
        }
    }

    .approach-item {
        padding: 0 0 33px;
        &:not(:last-child){
            @media #{$mobile-up} {
                padding: 0 0 26px;
            }
        }
    }

    h3 {
        font-weight: $profileApproachItemFontWeight;
        color: $profileApproachItemTitleColor;
        margin-bottom: 0;
    }
    p {
        margin: 0;
    }
    > img{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        min-width: 100%;
        min-height: 100%;
    }
}

.team-holder {
    @media #{$mobile-up} {
        padding: 64px 42px 50px;
    }
    @media #{$tablet-up} {
        padding-left: 0;
        padding-right: 0;
    }
    .widget-title {
        font-size: $profileTeamTitleFontSize;
        line-height: $profileTeamTitleLineHeight;
        font-weight: $profileTeamTitleFontWeight;
        color: $profileTeamTitleColor;
        background: $profileTeamTitleBackgroundColor;
        text-align: center;
        margin: 0;
        padding: 18px 10px;
    }
}
.team-block {
    &:after {
        clear: both;
        display: block;
        content: '';
    }
    .member-modal {
        display: none;
        .img-holder {
            display: none;
        }
    }
    .team-member {
        position: relative;
        color: $profileTeamColor;
        @media #{$mobile-up} {
            width: 50%;
            height: 179px;
            overflow: hidden;
            float: left;
            transition: height 0.4s;
        }
        @media #{$tablet-up} {
            width: 33.3333%;
        }
        img {
            width: 100%;
            display: block;

        }
        &.cloned {
            width: 100%;
            height: auto;
            z-index: 5;
            * {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            .team-member-container > img,
            .team-member-holder {
                display: none;
            }
            .member-modal {
                display: block;
            }
            .member-modal {
                .img-holder,
                .member-modal-holder,
                .close{
                    overflow: hidden;
                    max-height: 0;
                    transition: max-height 0.6s;
                }
                .img-holder {
                    display: block;
                }
            }
            &.height {
                .member-modal {
                    .img-holder,
                    .member-modal-holder,
                    .close {
                        max-height: 800px;
                    }
                }
            }
        }

        &.active {
            @media #{$mobile-up} {
                height: 0;
            }
            @media #{$mobilesmall-only} {
                z-index: 5;
                .member-modal {
                    display: block;
                }
            }
            .member-modal {
                > img {
                    @media #{$mobilesmall-only} {
                        display: none;
                    }
                }
            }
            .team-member-container {
                @media #{$mobilesmall-only} {
                    position: relative;
                }
            }
            .team-member-holder {
                .dots {
                    @media #{$mobilesmall-only} {
                        display: none;
                    }
                }
                .close {
                    @media #{$mobilesmall-only} {
                        display: block;
                        top: auto;
                        bottom: 16px;
                        right: 16px;
                    }
                }
            }
            .member-modal-container {
                .name,
                .position {
                    @media #{$mobilesmall-only} {
                        display: none;
                    }
                }
            }
        }
        &.arrows-enabled {
            .member-modal-holder {
                @media #{$mobile-up} {
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
                @media #{$tablet-up} {
                    padding-top: 57px;
                    padding-bottom: 60px;
                }
                .arrow {
                    display: block;
                }
            }
        }
    }
    .name {
        display: block;
        font-size: $profileTeamMemberNameFontSize;
        font-family: $profileTeamMemberNameFontFamily;
        line-height: $profileTeamMemberNameLineHeight;
        text-transform: uppercase;
    }
    .title {
        display: block;
        font-size: $profileTeamMemberTitleFontSize;
        font-family: $profileTeamMemberTitleFontFamily;
        line-height: $profileTeamMemberTitleLineHeight;
    }
    .team-member-holder {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        min-height: 54px;
        padding: 5px 16px 5px;
        z-index: 4;
        .dots {
            position: absolute;
            top: 50%;
            right: 21px;
            transform: translateY(-50%);
            background: $profileTeamColor;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            &:before,
            &:after {
                position: absolute;
                top: 0;
                left: 6px;
                background: $profileTeamColor;
                width: 3px;
                height: 3px;
                border-radius: 50%;
                content: '';
            }
            &:after {
                left: auto;
                right: 6px;
            }
        }
    }
    .member-modal-holder {
        @media #{$mobile-up} {
            position: absolute;
            top: 10px;
            left: 10px;
            bottom: 10px;
            width: 45%;
            background: $profileTeamBackgroundColor;
            padding: 20px 10px;
        }
        @media #{$tablet-up}{
            top: 30px;
            left: 50px;
            bottom: 30px;
            width: 35%;
            padding: 30px;
        }
        &.right {
            @media #{$mobile-up} {
                left: auto;
                right: 33px;
            }
            @media #{$tablet-up}{
                left: auto;
                right: 65px;
            }
        }
        .arrow {
            @media #{$mobile-up} {
                position: absolute;
                left: 50%;
                width: 22px;
                height: 15px;
                margin: 0 0 0 -6px;
                display: none;
                cursor: pointer;
                background: url("../images/arrow.png") 0 50% no-repeat;
            }
        }
        .arrow-up {
            @media #{$mobile-up} {
                top: 12px;
            }
            @media #{$tablet-up}{
                top: 25px;
            }
        }
        .arrow-down {
            transform: rotate(180deg);
            @media #{$mobile-up} {
                bottom: 12px;
            }
            @media #{$tablet-up}{
                bottom: 25px;
            }
        }

    }
    .member-modal-frame {
        @media #{$mobile-up} {
            height: 100%;
            overflow: hidden;
        }
        > div {
            @media #{$mobile-up} {
                height: 100%;
                overflow: auto;
                margin: 0 -20px 0 0;
                padding: 0 20px 0 0;
            }
        }
    }
    .member-modal-container {
        @media #{$mobilesmall-only} {
            color: $profileTeamMemberTextColor;
            padding: 12px 16px;
            display: none;
            width: 100% !important;
            padding-right: 16px !important;
            padding-left: 16px !important;
        }
    }
    .member-modal {
        .close {
            @media #{$mobile-up} {
                display: block;
            }
            @media #{$tablet-up} {
                top: 30px;
                right: 30px;
            }
        }
    }
    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        text-indent: -9999px;
        overflow: hidden;
        width: 25px;
        height: 25px;
        cursor: pointer;
        display: none;
        &:before,
        &:after {
            position: absolute;
            top: 11px;
            right: -4px;
            width: 30px;
            height: 1px;
            content: '';
            background: $profileTeamCloseButtonColor;
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
        &.black {
            &:before,
            &:after {
                background-color: $profileTeamCloseButtonDarkColor;
            }
        }
    }
    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $profileTeamColor;
        display: none;
        opacity: 0;
        z-index: 4;
        transition: opacity 0.3s;
        &.active {
            opacity: 0.85;
        }
    }
}

.careers-block {
    position: relative;
    color: #fff;
    padding: 45px 15px 15px;
    overflow: hidden;
    @media #{$mobile-up} {
        padding-top: 52px;
        padding-bottom: 38px;
    }
    @media #{$tablet-up} {
        padding-top: 54px;
        padding-bottom: 38px;
    }
    &-holder {
        margin: 0 auto;
        max-width: 650px;
    }
    > img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        min-width: 100%;
        min-height: 100%;
    }
    h2 {
        font-family: $profileCareerTitleFontFamily;
        line-height: $profileCareerTitleLineHeight;
        font-weight: $profileCareerTitleFontWeight;
        color: $profileCareerTitleColor;
        font-size: $profileCareerMobileTitleFontSize;
        margin: 0 0 13px;
        @media #{$mobile-up} {
            font-size: $profileCareerTitleFontSize;
            margin: 0 0 7px;
        }
    }
    .blue {
        color: $profileCareerTitleSecondColor;
    }
    [role="form"] {
        padding: 5px 0 10px;
        @media #{$mobile-up} {
            padding-top: 0;
        }

        input[type="text"],
        input[type="email"],
        input[type="url"] {
            width: 100%;
            background: $profileCareerInputBackground;
            border: none;
            height: 33px;
            font-size: $profileCareerInputFontSize;
            font-family: $profileCareerInputFontFamily;
            line-height: $profileCareerInputLineHeight;
            padding-top: 5px;
            padding-bottom: 8px;
            @media #{$mobile-up} {
                height: 30px;
                padding-top: 3px;
                padding-bottom: 6px;
            }
        }
        label {
            line-height: 19px;
            display: block;
            margin: -1px 0 0;
        }
        form {
            > p {
                margin: 0 0 15px;
                position: relative;
                @media #{$mobile-up} {
                    margin: 0 -1px 13px;
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                    &:nth-of-type(1),
                    &:nth-of-type(3) {
                        width: 40%;
                        padding: 0 31px 0 0;
                    }
                    &:nth-of-type(2),
                    &:nth-of-type(4) {
                        width: 60%;
                    }
                }
                .wpcf7-form-control-wrap {
                    position: static;
                }
                [role="alert"] {
                    line-height: 1.2;
                    margin: 0 0 -23px;
                }
            }
        }
        input[type="submit"] {
            width: 116px;
            background: $profileCareerSubmitBackground;
            border: none;
            height: 38px;
            color: $profileCareerSubmitColor;
            display: block;
            margin: 0 auto;
            text-transform: uppercase;
            border-radius: 18px;
            @media #{$tablet-up} {
                margin-right: 0;
                margin-top: -6px;
            }
        }
        .wpcf7-response-output {
            border: none;
            .overlay {
                background: $profileCareerOverlayColor;
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 4;
            }
            .confirm-message {
                position: fixed;
                top: 50%;
                left: 50%;
                max-width: 400px;
                transform: translate(-50%, -50%);
                background: $profileCareerMessageBackground;
                color: $profileCareerMessageColor;
                font-family: $profileCareerMessageFontFamily;
                font-size: $profileCareerMessageFontSize;
                padding: 40px 20px;
                z-index: 5;
                h2 {
                    font-family: $profileCareerMessageTitleFontFamily;
                    font-size: $profileCareerMessageTitleFontSize;
                    margin: 0 0 15px;
                }
                .close {
                    position: absolute;
                    top: 12px;
                    right: 12px;
                    cursor: pointer;
                    text-indent: -9999px;
                    overflow: hidden;
                    width: 15px;
                    height: 15px;
                    &:before,
                    &:after {
                        position: absolute;
                        top: 7px;
                        left: 0;
                        content: '';
                        width: 15px;
                        height: 2px;
                        background: $profileCareerMessageColor;
                        transform: rotate(45deg);
                    }
                    &:after {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}
