//Colours should always only appear in this colours.scss
// $test: rgba( $black, .7 ) => use when need apply alpha (color opacity)

$black: #000;
$black--lighter: rgb(35, 31, 32);
$white: #fff;

$blue: #49b0e3;
$blue--dark: #081f40;
$blue--light: #8ab8d2;
$blue--light1: #5d9cbf;
$blue--light1: #5d9cbf;

$yellow: #f29d23;
$yellow--dark: #f36425;

$orange: #f05524;
$orange--light: #f05128;
$orange--dark: #e84a25;

$red: #e02926;

$green: #9ac23c;
$green--dark: #7a9f3e;
$green--light: #becc32;
$green--lighter: #9ac23b;

$gray-ship: #404041;
$gray--dark: #1b1b1b;
$gray--light: #a2a2a2;

$tundora: #4a4849;
$tundora--most: #4b484a;

$hurricane: #877875;

$nevada: #696a6c;
$nevada--most: #969799;
$silver-rust: #c6bcb6;

$bombay: #b5b7b9;
$bombay--most: #a9a9aa;

$swirl: #d7d2c5;
$swirl--most: #d0cac2;

$scorpion: #5c595a;
$westar: #e0dfdc;
$westar--darker: #a7a6a4;

$grey: rgb(150,151,153);
$grey--darker: rgb(84,84,84);
