/**
 * @file
 * Include new font-face
 */

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-Regular.eot');
  src: url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),
  url('../fonts/SourceSansPro-Regular.woff') format('woff'),
  url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro Semibold';
  src: url('../fonts/SourceSansPro-Semibold.eot');
  src: url('../fonts/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SourceSansPro-Semibold.woff2') format('woff2'),
  url('../fonts/SourceSansPro-Semibold.woff') format('woff'),
  url('../fonts/SourceSansPro-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url('../fonts/SourceSansPro-Light.eot');
  src: url('../fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SourceSansPro-Light.woff2') format('woff2'),
  url('../fonts/SourceSansPro-Light.woff') format('woff'),
  url('../fonts/SourceSansPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Heavy';
  src: url('../fonts/33DA95_0_0.eot');
  src: url('../fonts/33DA95_0_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/33DA95_0_0.woff2') format('woff2'),
  url('../fonts/33DA95_0_0.woff') format('woff'),
  url('../fonts/33DA95_0_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Book';
  src: url('../fonts/33DA9A_0_0.eot');
  src: url('../fonts/33DA9A_0_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/33DA9A_0_0.woff2') format('woff2'),
  url('../fonts/33DA9A_0_0.woff') format('woff'),
  url('../fonts/33DA9A_0_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'AvenirLTStd-Medium';
  src: url('../fonts/3431D2_0_0.eot');
  src: url('../fonts/3431D2_0_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/3431D2_0_0.woff2') format('woff2'),
  url('../fonts/3431D2_0_0.woff') format('woff'),
  url('../fonts/3431D2_0_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Light';
  src: url('../fonts/3431D2_1_0.eot');
  src: url('../fonts/3431D2_1_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/3431D2_1_0.woff2') format('woff2'),
  url('../fonts/3431D2_1_0.woff') format('woff'),
  url('../fonts/3431D2_1_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirLTStd-Black';
  src: url('webfonts/3485E0_4_0.eot');
  src: url('webfonts/3485E0_4_0.eot?#iefix') format('embedded-opentype'),
  url('webfonts/3485E0_4_0.woff2') format('woff2'),
  url('webfonts/3485E0_4_0.woff') format('woff'),
  url('webfonts/3485E0_4_0.ttf') format('truetype');
}




$BodoniURW-Light: 'bodoni-urw', 'Times New Roman', serif;
$FuturaPT: 'futura-pt', Arial, sans-serif; // font-weight: 400 - regular, 500 - medium
$FuturaPT-Bold: 'futura-pt-bold', Arial, sans-serif;
$ProximaNova: 'proxima-nova', Arial, sans-serif; //font-weight: 700 - bold, 800 - extrabold, 600 - semibold, 400 - regular

$SourceSansPro-regular: 'Source Sans Pro', Arial, sans-serif;
$SourceSansPro-semibold: 'Source Sans Pro Semibold', Arial, sans-serif;
$SourceSansPro-light: 'Source Sans Pro Light', Arial, sans-serif;

$Avenir-heavy: 'Avenir Heavy', Arial, sans-serif;
$Avenir-book: 'Avenir Book', Arial, sans-serif;
$Avenir-medium: 'AvenirLTStd-Medium', Arial, sans-serif;
$Avenir-light: 'AvenirLTStd-Light', Arial, sans-serif
$Avenir-black: 'AvenirLTStd-Black', Arial, sans-serif
